@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circularStd/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circularStd/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circularStd/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circularStd/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Circular Std";
}
